<html>
<head>
    <style>
        .missatges {
            background-color: cyan;
        }
    </style>
</head>

<body>
    <h1>Almaixera online! :)</h1>
    {% block usuari %}
        <div class="usuari">
        {% if user %}
            Usuari: {{user}}
            | <a href="/accounts/logout/">sortir</a>
            | <a href="/comandes">menu principal</a>
            <br>
        {% endif %}
        </div>
    {% endblock %}
    <br>
    
    {% block missatges %}
        <div class="missatges">
        {% if missatge %}
            {{missatge}}
        {% endif %}
        </div>
    {% endblock %}
    <br>
    
    <div class="contingut">
        {% block contingut %}
        {% endblock %}
    </div>
</body>

</html>
