{% extends "base.html" %}

{% block estilscss %}
h3 {
    display: inline;
    margin: 10px;
    margin-bottom: 30px;
}
table.comanda_realitzada {
    background-color: #bbeebb;
    //width: 100%;
    border: 1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.comanda_realitzada td {
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid gray;
}
.comanda_realitzada .preu {
    text-align: right;
}
.comanda_realitzada .prod {
    text-align: left;
}
.comanda_realitzada .total {
    text-align: right;
}
.comanda_realitzada .subtotal {
    background-color: #B5C780;
}
.comanda_realitzada .titol {
    font-weight: bold;
    background-color: #B5C780;
}
p {
    margin: 0;
}
.demanat {
    //display: none;
}
{% endblock %}

{% block custom_scripts %}
        var mostra = true;
        function amaga_mostra_demanat() {
            console.log("aki");
            if( !mostra ) {
                $(".demanat").css({display:'table-cell'});
                mostra = true;
            } else {
                $(".demanat").css({display:"none"});
                mostra = false;
            }
        }
{% endblock %}

{% block contingut %}
    <h2>Comandes realitzades</h2>
    <button onclick="amaga_mostra_demanat()">Mostrar/amagar demanat</button>
    <p>Només es mostren les comandes entre un mes abans i un mes després d'avui.</p>
    <p>Només es poden esborrar les comandes que encara estan obertes.</p>

    {% if comandes %}
        {% for comanda in comandes %}
            <br>
            <h3>{{comanda}}</h3>
            {% if not comanda.tancada %}
                <a href="esborra_comanda?data_recollida={{comanda.data_recollida|date:'Y-m-d'}}">Esborra comanda</a>
            {% endif %}
            <br>
            <table class="comanda_realitzada">
                <tr class="titol">
                    <td>Producte</td>
                    <td>Preu unitari</td>
                    <td class="demanat">Quantitat demanada</td>
                    <td class="demanat">Subtotal demanat</td>
                    <td>Quantitat rebuda</td>
                    <td>Subtotal rebut</td>
                </tr>
                {% for detall in comanda.detalls %}
                    <tr>
                        <td class="prod">{{detall.producte.nom}}</td>
                        <td class="preu">{{detall.producte.preu|floatformat:2}} €</td>
                        <td class="demanat">{{detall.quantitat|floatformat:2}}</td>
                        <td class="preu demanat">{{detall.subtotal_demanat|floatformat:2}} €</td>
                        <td>{{detall.quantitat_rebuda|floatformat:2}}</td>
                        <td class="preu">{{detall.subtotal_rebut|floatformat:2}} €</td>
                    </tr>
                {% endfor %}
                    <tr class="subtotal">
                        <td colspan="2" class="prod">TOTAL:</td>
                        <td class="demanat">Demanat:</td>
                        <td class="total demanat">{{comanda.total_demanat|floatformat:2}} €</td>
                        <td>Rebut:</td>
                        <td class="total">{{comanda.total_rebut|floatformat:2}} €</td>
                    </tr>
                    <tr class="titol">
                        <td colspan="2" class="prod">TOTAL + increment cooperativa ({{increment}}%):</td>
                        <td class="demanat">Demanat:</td>
                        <td class="total demanat">{{comanda.total_demanat_incr|floatformat:2}} €</td>
                        <td>Rebut:</td>
                        <td class="total">{{comanda.total_rebut_incr|floatformat:2}} €</td>
                    </tr>
            </table>
        {% endfor %}
    {% else %}
        No hi ha comandes encara.
    {% endif %}
{% endblock %}
