{% extends "base.html" %}

{% block contingut %}
    <h2>Comandes realitzades</h2>

    {% if comandes %}
        <ul>
        {% for comanda in comandes %}
            <li>{{comanda}}
            {% if not comanda.tancada %}
                | <a href="esborra_comanda?data_recollida={{comanda.data_recollida|date:'Y-m-d'}}">Esborra comanda</a>
            {% endif %}
            </li>
            <ul>
                {% for detall in comanda.detalls %}
                    <li>{{detall}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% else %}
        No hi ha comandes encara.
    {% endif %}
{% endblock %}
