{% extends "base.html" %}

{% block title %}
Distribueix producte - {{data|date:'SHORT_DATE_FORMAT'}} - {{producte}}
{% endblock %}

{% block estilscss %}
input[type="number"] {
    width: 90px;
}
{% endblock %}

{% block contingut %}

<button onclick="window.location.href='{% url 'home' %}comandes/informe_caixes_old?data_informe={{data}}'">Torna a l'informe</button>

<h2>Distribueix {{producte.nom}}</h2>
DATA: {{data}} - Proveidor: {{producte.proveidor.nom}}<br><br>

<form method="post" id="comanda">{% csrf_token %}
{{ detalls_formset.management_form }}
<input type="submit" value="Envia" />

<table class="taula_informe" style="border:1px solid black">
<thead>
    <td>Caixa</td>
    <td>Soci</td>
    <td>Quantitat<br>demanada</td>
    <td>Quantitat<br>rebuda</td>
    <td>Preu<br>unitari</td>
    <td>Subtotal</td>
</thead>
{% for detall in detalls_formset %}
<tr>
    <td>
        <!-- hidden fields -->
        {{detall.id}}
        <!-- not hidden -->
        {{detall.num_caixa}}
    </td>
    <td>{{detall.soci}}</td>
    <td>{{detall.quant}}</td>
    <td>{{detall.quantitat_rebuda}}</td>
    <td>{{detall.preu}}</td>
    <td>{{detall.subtotal}}</td>
</tr>
{% endfor %}
</table>


<input type="submit" value="Envia" />
</form>

{% endblock %}
