{% extends "base.html" %}

{% block contingut %}
    <form method="post" id="comanda">{% csrf_token %}
    {% if form %}
        {{ form.as_p }}
    {% endif %}

    <b style="background-color:yellow;">{{form.cleaned_data.data_recollida}}</b>
    
    <input type="submit" value="Envia" /> <br>
    
    <p style="display:block;text-align:center;">Utiltiza <b>punts pels decimals</b> a les quantitats.</p>
    {% if formset %}
        {{ formset.management_form }}
        {% for field in formset %}
            <div class="producte_form">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

    {% endif %}

    <input type="submit" value="Envia" />
    </form>
{% endblock %}
