{% extends "base.html" %}

{% block contingut %}
    <form method="post" id="comanda">{% csrf_token %}

    <!--h2 style="text-align:center">Pissarra</h2-->
    <!--b style="background-color:yellow;">{{form.cleaned_data.data_recollida}}</b-->
    
    {% if avisos %}
        <div class="pissarra">
            <div class="pissarratitol">La Pissarra</div>
        {% for avis in avisos %}
            <div class="avis">
                <h3>{{ avis.titol }}</h3>
                <p>{{ avis.text | linebreaks }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <h2 style="Xdisplay:inline">Comanda</h2>

    {% if form %}
        {{ form.as_p }}
    {% endif %}
    <b style="background-color:yellow;">{{form.cleaned_data.data_recollida}}</b>
    <input type="submit" value="Envia" /> <br>

    <!--p style="display:block;text-align:center;">Utiltiza <b>punts pels decimals</b> a les quantitats.</p-->
    {% if formset %}
        {{ formset.management_form }}
        {% for field in formset %}
            <div class="producte_form">
                <div class="item">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
                </div>
            </div>
        {% endfor %}

    {% endif %}

        <input style="align:center" type="submit" value="Envia" />
    </form>
{% endblock %}
