{% extends "base.html" %}

{% block title %}
Informe per caixes - {{data|date:'SHORT_DATE_FORMAT'}} - {{cooperativa}}
{% endblock %}

{% block contingut %}

<div class="requadre">
    <h2>Informe per caixes</h2>
    Data: {{data|date:'SHORT_DATE_FORMAT'}}<br>
    {% if cooperativa %}
    Cooperativa: {{cooperativa}}<br>
    {% else %}
    Cooperativa: TOTES<br>
    {% endif %}
    <!--input type="text" disabled value="{{data|date:'j F, Y'}}" /-->
    <br>
</div>

<br>
{% regroup productes by producte__nom as prod_list %}

{% for prod in prod_list %}
<!--h3>{{prod.grouper}}</h3>
<p>Proveidor: {{prod.list.0.producte__proveidor__nom}}</p-->
<table class="taula_informe" style="border:1px solid black">
    <thead>
        <td colspan="3" style="text-align:left;">
            <b><big>{{prod.grouper}}</big></b>
            ({{prod.list.0.producte__proveidor__nom}})
            -
            {{prod.list.0.producte__preu}} €/{% if prod.list.0.producte__granel %}kg.
            {% else %}unitat-manat
            {% endif %}
            <button onclick="window.location.href='/comandes/distribueix_productes/{{data|date:'Y-m-d'}}/{{prod.list.0.producte__id}}'">Distribueix</button>
        </td>
        <td>total: {{prod.list.0.total}}
            {% if prod.list.0.producte__granel %}
            kgs.
            {% else %}
            unitats-manats
            {% endif %}
        </td>
    </thead>
    <tr>
        <td>Caixa</td>
        <td>Nom</td>
        <td>Quantitat<br>demanada</td>
        <td>Quantitat<br>rebuda</td>
    </tr>
    {% for detall in prod.list %}
    <tr>
        <td>{{detall.comanda__soci__num_caixa}}</td>
        <td>
            ( {{detall.comanda__soci__user__username}} )
            {{detall.comanda__soci__user__first_name}}
            {{detall.comanda__soci__user__last_name}}
        </td>
        <td>
            {{detall.quantitat}}
            {% if detall.producte__granel %}
            kgs.
            {% else %}
            unitats/manats
            {% endif %}
        </td>
        <td>{{detall.quantitat_rebuda}}
            {% if detall.producte__granel %}
            kgs.
            {% else %}
            unitats/manats
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% endfor %}

{% endblock %}
