{% extends "base.html" %}

{% block title %}
Informe per proveïdors - {{data|date:'SHORT_DATE_FORMAT'}} - {{cooperativa}}
{% endblock %}

{% block contingut %}

<div class="requadre">
    <h2>Informe per proveïdors</h2>
    Data: {{data|date:'SHORT_DATE_FORMAT'}}<br>
    {% if cooperativa %}
    Cooperativa: {{cooperativa}}<br>
    {% else %}
    Cooperativa: TOTES<br>
    {% endif %}
    <!--input type="text" disabled value="{{data|date:'j F, Y'}}" /-->
    <br>
</div>

<h2>Productes</h2>
{% regroup productes by producte__proveidor__nom as prov_list %}

{% for prov in prov_list %}
<h3>{{prov.grouper}}</h3>
<p>{{prov.list.0.producte__proveidor__telefon1}} , 
{{prov.list.0.producte__proveidor__email}} , 
{{prov.list.0.producte__proveidor__email2}}</p>
<table class="taula_informe" style="border:1px solid black">
    <thead>
        <td>Producte</td>
        <td>Quantitat<br>demanada</td>
        <td>Quantitat<br>rebuda</td>
    </thead>
    {% for prod in prov.list %}
    <tr>
        <td>{{prod.producte__nom}}</td>
        <td style="text-align:center;">{{prod.quantitat__sum}}
        {% if prod.producte__granel %}
        kgs.
        {% else %}
        unitats
        {% endif %}
        </td>
        <td style="text-align:center;"></td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}
