{% extends "base.html" %}

{% block contingut %}
Menú usuari:
<ul>
    <li><form action="fer_comanda" method="get">
            {% if data_form %}
                Crea o edita la comanda:<br>
                {{data_form.as_p}}
                <input type="submit" value="Crea o edita"/>
            {% endif %}
        </form>
    </li>
    <li><a href="comandes">Veure comandes</a></li>
    <li><a href="/admin/password_change/">Canvia contrasenya</a></li>
    <li><a href="/admin">Panell d'administració</a></li>
</ul>

{% if super %}
Menú admin:
<ul>
    <li><form action="informe_proveidors" method="get">
            {% if prov_form %}
                Informe per proveïdors<br>
                {{prov_form.as_p}}
                <input type="submit" value="Crea informe" />
            {% endif %}
        </form>
    </li>
    <li><form action="informe_caixes" method="get">
            {% if caixes_form %}
                Informe per caixes<br>
                {{caixes_form.as_p}}
                <input type="submit" value="Crea informe" />
            {% endif %}
        </form>
    </li>
</ul>
{% endif %}

{% endblock %}
