{% extends "base.html" %}


{% block estilscss %}
@media (min-width:650px) {
    .columna1 {
        flex: 4;
        padding-right: 1em;
    }
    .columna2 {
        flex: 4;
    }
    .contingut {
        display: flex;
    }
}

#temps_restant {
    color: yellow;
}
.pissarra {
    border-radius: 4px;
}
input , .boto , select {
    padding: 0.4em;
}

.menu {
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #B5C780;
    margin: 1em 0;
    text-align: center;
}

.menubutton {
    width: 26%;
    min-width:8em;
    margin: 0.5em;
}

{% endblock %}


{% block contingut %}
<div class="columna1">
    <div class="menu">
        <h3>Menú usuari</h3>
        <form action="fer_comanda" method="get">
                {% if data_form %}
                    {{data_form.as_p}}
                    <button class="boto" onclick="submit()">Crea o edita comanda</button>
                {% endif %}
        </form>
        <button class="navbutton menubutton" onclick="location.href='{% url 'home' %}admin/comandes/comandastock/'">Comanda<br>d'estoc</button>
        <button class="navbutton menubutton" onclick="location.href='{% url 'home' %}comandes/comandes'">Veure<br>comandes</button>
        <button class="navbutton menubutton" onclick="location.href='{% url 'home' %}admin/password_change/'">Canvia<br>contrasenya</button>
        <br><br>
    </div> <!-- menu -->

    <div class="menu">
        <h3>Menú admin</h3>
        <form action="informe_proveidors" method="get">
            {% if prov_form %}
                Informe per proveïdors<br>
                {{prov_form.as_p}}
                <input type="submit" value="Crea informe" />
            {% endif %}
        </form>

        <form action="informe_caixes" method="get">
            {% if caixes_form %}
                Informe per caixes<br>
                {{caixes_form.as_p}}
                <input type="submit" value="Crea informe" />
            {% endif %}
        </form>
        <button class="navbutton menubutton" onclick="location.href='{% url 'home' %}admin'">Panell<br>d'administració</button>
    </div>
</div> <!-- columna1 -->

<div class="columna2">
    <div class="pissarra">
        <div class="pissarratitol">La Pissarra</div>
        <p>proper tancament: {{proper_tancament}}.</p>
        <p>Temps restant: <span id="temps_restant"></span></p>
        <p>... però tranquils, no us estresseu ;)</p>
    </div>
</div>

{% endblock %}



{% block custom_scripts %}

var item = $('#temps_restant')
var temps_restant = parseInt( "{{remaining_secs}}" )

//actualitza()
if( temps_restant>0 ) // proteccio per si alguna cosa falla no vagi recarregant
    setInterval( actualitza, 1000 )

function actualitza() {
    // calculs
    var dies = Math.floor(temps_restant / (3600*24))
    var hores = Math.floor( (temps_restant-dies*(3600*24)) / 3600 )
    var minuts = Math.floor( (temps_restant-dies*(3600*24)-hores*3600) / 60 )
    var segons = Math.floor( (temps_restant-dies*(3600*24)-hores*3600-minuts*60) )
    var mostra = ""
    if( dies ) mostra += dies + " dies "
    if( hores ) mostra += hores +"h "
    if( minuts ) mostra += minuts + "' "
    mostra += segons + "''"
    item.html( mostra )
    --temps_restant
    // colors
    if( dies==0 && hores<2 )
        item.css('color','red')
    // recarreguem si acabem el temps
    if( temps_restant<0 )
        window.location.reload()
}

{% endblock %}
